<a href="https://colab.research.google.com/github/DiegoArroyo12/CYP/blob/master/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados de python 

1. Listas 
2. Tuplas 
3. Diccionarios 
4. Conjuntos(opcional)

# Listas 

- Tipo de datos que agrupa variables o valores. 
- Estructura secuencial (undexados empezando por (0)
- Se declara de dos formas#
    - usando []
    - usando list ()
    - usando un generador
- Puede contener tipos de dato diversos (En otros otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES 
-GENERADORES [var for x in range (10)]
- Al ser una clase contiene muchos métodos útiles

In [ ]:
numeros = [10,5,2,3,1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2] = 20
numeros[-1] = 33 
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos 

cosas = [12, 2, True , "José" , 1.57 , ["pera" , "kiwi" , "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#1.- 4 al 8???
print(numeros[3:8])
# 2.- [9,10]
print(numeros[8:10])
print(numeros[-3:-1])
# 3.- imprimir la lista en orden inverso [11,10,9,etc...,1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador 
numeros = [ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Función range 

Tiene los mismos componentes que slicing 
inicio, stop , incremento

range(1, 101, 1)

In [ ]:
numeros = [ x for x in range(50,101,5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Métodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50,15]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)

frutas = ["uvas" , "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("Naranja")
print(frutas)
print(copia)

colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Número de veces que aparece el 15: " , numeros.count(15))

# extend

nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue", "diana", "dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

# lo mismo con el método extend
otrosNombres.extend(["Jesús", "María", "José"])
print(otrosNombres)
print("Jesús esta en la posición: " , otrosNombres.index("Jesús"))
otrosNombres.insert(4, "Espíritu Santo")
print(otrosNombres)

# pop 
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Número de veces que aparece el 15:  2
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesús', 'María', 'José']
Jesús esta en la posición:  3
['josue', 'diana', 'dalia', 'Jesús', 'Espíritu Santo', 'María', 'José']
['josue', 'diana', 'dalia', 'Jesús', 'Espíritu Santo', 'María']
José

# Tuplas 

### Características de las tuplas 

- Datos agrupados.
- Se declara usando

    -( )
    -tuple
- Estructura secuencial, indexada a partir de 0.
- Pueden tener de 0 a n elementos. 
- NO SON MUTABLES (No se puede: Eliminar y/o cambiar)
- Son buenas para almacenar información de consulta.
- Pueden almacenar información de diferentes tipos de datos. 
- Pueden estar anidadas. 
- Tienen métodos útiles.

In [ ]:
info = ("juan23" , "dios1234" , "123.232.1.12")
print(info)
print(info[1])
#info[1] = "patito23" esto no se puede hacer 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = ( info , numeros )
print( cosas )
print( cosas[1][5:11:1])
print( cosas[0][2][4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas 

Son los mismos de las listas pero que no involucren mutabilidad.

In [6]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios 
### Características de los diccionarios

- Agrupan datos pero de forma no lineal.
- Se declaran con: 
  - {}
  -dict()
- Formado por pares del tipo llave:valor , donde
    - llave es de tipo string (siempre)
    - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios. 
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables 
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript(JS)

In [ ]:
alumno = { "nombre" : "Diego" }
print( alumno )
print( alumno["nombre"] )
alumno = { "nombre" : "Diego" , "nc": "2129229292", "edad": 18}
print("Edad del alumno = " , alumno["edad"])
print(alumno['nombre'].upper())
print(alumno)

print("Alumno 2 : ")
alumno2 = dict() #{ }
alumno2["nombre"] = "Diego"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Diego'}
Diego
Edad del alumno =  18
DIEGO
{'nombre': 'Diego', 'nc': '2129229292', 'edad': 18}
Alumno 2 :
{'nombre': 'Diego'}
{'nombre': 'Diego', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Diego', 'nc': '2129229292', 'edad': 19}

In [8]:
cliente = { "id":"CT2121" , 
           "nombre":"Diego Arroyo Palacios" , 
           "telefonos":"casa=5546336703  cel=0445584075908"}

print(cliente)
cliente = { "id":"CT2121" , 
           "nombre" : {
               "nombres" : ["Diego", "David"], 
               "paterno" : "Arroyo" , 
               "materno" : "Palacios"
           } , 
           "telefonos" : {
               "casa" : "5546336703" , 
               "trabajo" : "5544223366" ,
               "celular" : "0445584075908"
           } ,
           "productos" : {
                    "ahorro" : {"numero_cuenta":"7788" , "ahorro":2500.5},
                    "tarjetas":[
                                 {"tipo":"debito" , "saldo":10000.5},
                                 {"tipo":"credito preferente" , "limite":250000.5},
                                 {"tipo":"lite" , "limite": 15000.5}
                    ],
            "dirección" : {
                "calle":"Av. Central",
                "numero":471,
                "colonia":"Lomas de Becerra", 
                "delegación":"Álvaro Obregón",
                "estado": {
                           "clave": 15,
                           "nombre_corto":"CDMX",
                           "nombre":"Ciudad de México"
                          }
                          }        
           }
           
           }
print( cliente["telefonos"]["casa"] )
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])

print(cliente["productos"]["ahorro"]["ahorro"])

{'id': 'CT2121', 'nombre': 'Diego Arroyo Palacios', 'telefonos': 'casa=5546336703  cel=0445584075908'}
5546336703
{'id': 'CT2121', 'nombre': {'nombres': ['Diego', 'David'], 'paterno': 'Arroyo', 'materno': 'Palacios'}, 'telefonos': {'casa': '5546336703', 'trabajo': '5544223366', 'celular': '0445584075908'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}], 'dirección': {'calle': 'Av. Central', 'numero': 471, 'colonia': 'Lomas de Becerra', 'delegación': 'Álvaro Obregón', 'estado': {'clave': 15, 'nombre_corto': 'CDMX', 'nombre': 'Ciudad de México'}}}}
2500.5
15000.5
2500.5

In [7]:
star_wars = {"Capítulo I":{"La Amenaza fantasma":{"El inicio de la historia con Anakin Skywalker"}},
             "Capítulo II":{"El Ataque de los Clones":{"Descubren que se ha hecho un ejercito de clones"}},
             "Capítulo III":{"La Venganza de los Sith":{"Anakin se convierte en Darth Vader"}},
             "Capítulo IV":{"Una Nueva Esperanza":{"El hijo secreto de Anakin descubre su conexión con la fuerza"}},
             "Capítulo V":{"El Imperio Contraataca":{"El imperio da un golpe fuerte contra la rebelión"}},
             "Capítulo VI":{"El Retorno del Jedi":{"Derrotan al imperio"}},
             "Capítulo VII":{"El Despertar de la Fuerza":{"Surge la Primera Orden"}},
             "Capítulo VIII":{"Los Últimos Jedi"}}

print(star_wars["Capítulo III"])

{'La Venganza de los Sith': {'Anakin se convierte en Darth Vader'}}

# Estructuras de control de programación 

Se puede crear cualquier tipo de algoritmo solamente 3 estructuras de control:

1. Secuencia:
      - La representación de la memoria de programa (Arquitectura Vonn Newman) 
2. Selección:
      - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tabién permite seleccionar ejecutar un bloque entre un conjunto de opciones. En resumen tenemos: Selección simple, selección con bifurcación y selección múltiple. 
3. Repetición: 
      -Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
      - Desde...hasta(estructura for)
      - haz mientras (estructura while)
      - haz y luego validez mientras (estructura Do-While)

# Selección Simple 
-- Documentar o poner notas

La estructura if 

```
if <CONDICION>:
    <Cuerpo del if>
```

**NOTA** Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izquierda. 

En otros lenguajes de programación como java, c y c++... se usan las llaves {} 

```
int edad =0;
printf("Dame tu edad");
scanf("%i", &edad );
if(edad >= 18 ) {
    printf("ERES MAYOR DE EDAD")
}
printf("Fin de programa)
```

In [10]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >= 18 : 
  print("Eres mayor de edad")
  print("Algo")
  print("Otra cosa")
print("Fin de programa")

Dame tu edad: 18
Tecleaste 18 años
Eres mayor de edad
Algo
Otra cosa
Fin de programa

In [12]:
cal = float(input("Dame tu calificación: "))
if cal > 8:
  print("Aprobado")
print("Fin del programa")

Dame tu calificación: 9
Aprobado
Fin del programa

In [13]:
sue = float(input("¿Cuál es tu sueldo?: "))
aum = 0 
msue = 0
if sue < 1000:
  aum = sue*0.15
  msue = sue + aum 
  print(msue)
print("Fin del programa")

¿Cuál es tu sueldo?: 875.50
1006.825
Fin del programa