<a href="https://colab.research.google.com/github/DiegoArroyo12/CYP/blob/master/Fundametos3_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repetición:

Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientas ciertas condiciones s cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:

- Desde...hasta (estructura for)
- Haz mientras (structura While)
- Haz y luego validaz mientras( estructura Do-While)

# FOR  CON Python

```
for j in range(10):
    print(f"Hola { j }")
```

# FOR CON Leng C y/o Java

```
for( int j = 0 ; j < 10 ; j = j +1 ){
    printf("Hola %i \n", j );
}
```

En todos los lenguajes de programación existe un tipo especial de for, conocido como **for-each**

#For-each en Python
```
for color in colores:
    print(f"Este es el color { color }")
```

In [ ]:
# funcion range()
# range(<INICIO>,<STOP>,<INCREMENTO>)
X = range(0,10,2)
print(X)

for j in range(10): # range(10) --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-.-.-.-.-.-.-.")
for j in range(0,10,2): # range(10) --> 0,2,4,6,8
    print(f"Hola {j}")

frutas = ["Uva","Aguacate","Pera","Manzana","Sandía"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas---")
for index in range(5):
    print(frutas[index])

for i in range(5):
    print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
Uva
Aguacate
Pera
Manzana
Sandía
---Frutas---
Uva
Aguacate
Pera
Manzana
Sandía
+++++
+++++
+++++
+++++
+++++

In [1]:
for x in range(1, 20, 1):
    print(x)
print("Fin del programa")

for x in range(19, 0, -1):
    print(x)
print("Fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Fin del programa

In [6]:
# EJEMPLO 3.3

CUECER = 0
NUM = 0
N = int(input("Introduce un valor númerico mayor que 1: "))

for I in range( 1, N + 1, 1):
    N = int(input("Introduce un valor númerico: "))
    if N == 0: 
        CUECER += 1

print("CUECER = ", CUECER)

Introduce un valor númerico mayor que 1: 4
Introduce un valor númerico: 3
Introduce un valor númerico: 3
Introduce un valor númerico: 3
Introduce un valor númerico: 8
CUECER =  0

7 X 1 = 7 

7 X 2 = 14

... 

7 X 10 = 70

In [8]:
n = 7
for i in range(1, 11):
    x = n * i 
    print(f"7 * {i} = {x}")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

¿Dame un número entre 1 y 5?: n

¿Dame un número entre n y 10?: 6

In [11]:
N = int(input("Dame un número entre 1 y 5: "))
if N > 0 and N < 6: 
    M = int(input(f"Dame un número entre {N} y 10: "))
    if M >= N and M < 11:  
        for i in range(N,M + 1):
            for j in range(1,11):
                print(f"{i} x {j} = ",i * j)
            print("-----------")
else:
    print("Valor fuera del rango 1-5")

Dame un número entre 1 y 5: 4
Dame un número entre 4 y 10: 6
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
4 x 10 =  40
-----------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
-----------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
-----------

In [13]:
# generadores de listas 
numeros = [0, 0, 0, 0, 0,]
print(numeros)
numeros = [ 0 for x in range(5) ]
print(numeros)
# empleando la variable de control x para el valor inicial 
numeros = [ x for x in range(5) ]
print(numeros)
# [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
numeros = [(x+1)*10 for x in range(10)]
print(numeros)
print(".-.-.-.-.")
numeros = [ x for x in range(10, 101, 10)]
print(numeros)
print(".-.-.-.-.")
numeros = [ x*10 for x in range(1,11)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
.-.-.-.-.
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
.-.-.-.-.
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
# ejercicio: calcular promedio de edades 
edades = [0 for x in range(5)]
print(edades)


suma = 0 
edades = [0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: "))
    suma = suma + edades[x]
print(edades)
print("Promedio: ", suma/5)

[0, 0, 0, 0, 0]
Dame una edad: 20
Dame una edad: 21
Dame una edad: 33
Dame una edad: 19
Dame una edad: 18
[20, 21, 33, 19, 18]
Promedio:  22.2

In [21]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)

0.304437053810354
10.232075932303987
8.3
[9.24, 6.0, 10.49, 8.6, 7.8, 9.78, 5.24, 6.9, 8.45, 5.38, 5.13, 9.82, 5.09, 9.38, 8.52, 10.6, 9.54, 7.29, 7.94, 10.49]