<a href="https://colab.research.google.com/github/DiegoArroyo12/CYP/blob/master/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados de python 

1. Listas 
2. Tuplas 
3. Diccionarios 
4. Conjuntos(opcional)

# Listas 

- Tipo de datos que agrupa variables o valores. 
- Estructura secuencial (undexados empezando por (0)
- Se declara de dos formas#
    - usando []
    - usando list ()
    - usando un generador
- Puede contener tipos de dato diversos (En otros otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES 
-GENERADORES [var for x in range (10)]
- Al ser una clase contiene muchos métodos útiles

In [11]:
numeros = [10,5,2,3,1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2] = 20
numeros[-1] = 33 
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 33, 88]

In [12]:
# tipos diversos 

cosas = [12, 2, True , "José" , 1.57 , ["pera" , "kiwi" , "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [18]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#1.- 4 al 8???
print(numeros[3:8])
# 2.- [9,10]
print(numeros[8:10])
print(numeros[-3:-1])
# 3.- imprimir la lista en orden inverso [11,10,9,etc...,1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# Crear una lista con un generador 
numeros = [ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Función range 

Tiene los mismos componentes que slicing 
inicio, stop , incremento

range(1, 101, 1)

In [25]:
numeros = [ x for x in range(50,101,5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Métodos disponibles de las listas

In [26]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
numeros = [4,1,15,8,22,34,50,15]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)

frutas = ["uvas" , "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("Naranja")
print(frutas)
print(copia)

colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Número de veces que aparece el 15: " , numeros.count(15))

# extend

nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue", "diana", "dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

# lo mismo con el método extend
otrosNombres.extend(["Jesús", "María", "José"])
print(otrosNombres)
print("Jesús esta en la posición: " , otrosNombres.index("Jesús"))
otrosNombres.insert(4, "Espíritu Santo")
print(otrosNombres)

# pop 
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Número de veces que aparece el 15:  2
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesús', 'María', 'José']
Jesús esta en la posición:  3
['josue', 'diana', 'dalia', 'Jesús', 'Espíritu Santo', 'María', 'José']
['josue', 'diana', 'dalia', 'Jesús', 'Espíritu Santo', 'María']
José